@use '../../../styles/variables.scss' as *;
.multiDropdown__options{
  margin-top: $space-xxs;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.multiDropdown__option{
  background:  #FFF;
  padding: 16px 12px;
  align-items: center;
  display: flex;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  height: 48px;
}
.multiDropdown__option.selected{
  color: $brand
}