$space-xxs: 8px;
$space-xs: 12px;
$space-s: 14px;
$space-m: 16px;
$space-l: 20px;
$space-xl: 24px;
$border-radius: 0px;
$brand: var(--brand);
$brand-hover: var(--brand-hover);
$brand-active: var(--brand-active);
$text-secondary: var(--text-secondary);
$text-primary: var(--text-primary);
$text-white: var(--text-white);
$text-accent: $brand;
$line-color: var(--line-color);
$bg-white: var(--bg-white);
$bg-light: var(--bg-light);
$bg-light-gray: var(--bg-light-gray);
$bg-overlay: var(--bg-overlay);
$border-light: var(--border-light);
$stroke-light: var(--stroke-light);
$bg-body: var(--bg-body);

$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;
$wide: 1440px;

@mixin tablet-and-up {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop-and-up {
  @media (min-width: $desktop) {
    @content;
  }
}
