
    $space-xxs: 8px;
    $space-xs: 12px;
    $space-s: 14px;
    $space-m: 16px;
    $space-l: 20px;
    $space-xl: 24px;
    $border-radius: 0px;
    $brand: #518581;
    $brand-hover: #86AAA7;
    $brand-active: #487773;
    $text-secondary: #AFADB5;
    $text-primary: #000000;
    $text-white: #FFFFFF;
    $text-accent: $brand;
    $line-color: #F3F3F3;
    $bg-white: #FFFFFF;
    $bg-light: #f9f9f9;
    $bg-light-gray: #f5f5f5;
    $bg-overlay: #D9D9D9;
    $border-light: #FFF;
    $stroke-light: #00000033;

   
    $mobile: 375px;
    $tablet: 768px;
    $desktop: 1024px;
    $wide: 1440px;

    
    @mixin tablet-and-up {
        @media (min-width: $tablet) {
            @content;
        }
    }

    @mixin desktop-and-up {
        @media (min-width: $desktop) {
            @content;
        }
    }

