@use '../../../styles/variables.scss' as *;
.input__wrapper {
  border: 0px;
  background: $bg-white;
  padding: 16px 12px;
  width: 100%;
  align-items: center;
  height: 52px;
  display: flex;
  font-family: 'Roboto';
}
.input__wrapper:focus-within {
  border: 1px solid $brand;
}
.input__wrapper:disabled {
  background: $bg-white;
}
.input {
  font-family: 'Roboto';
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background: transparent;
  color: $text-primary;
}
.input:disabled {
  background: $bg-white;
  color: $text-secondary;
}
.input::placeholder {
  color: $text-secondary;
}
.input:focus {
  outline: none;
  box-shadow: none;
}
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  -webkit-text-fill-color: $text-primary;
  -webkit-box-shadow: 0 0 0 1000px $bg-white inset ;
  box-shadow: 0 0 0 1000px $bg-white inset ;
}
