@use '../styles/variables.scss' as *;
:root {
  --space-xxs: 8px;
  --space-xs: 12px;
  --space-s: 14px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --border-radius: 0px;
  --brand: #518581;
  --brand-hover: #86aaa7;
  --brand-active: #487773;
  --text-secondary: #afadb5;
  --text-primary: #000000;
  --text-accent: var(--brand);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto';
  background-color: $bg-body;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
