@use './styles/variables.scss' as *;
@import './styles/Roboto/fonts.css';

:root {
  --space-xxs: 8px;
  --space-xs: 12px;
  --space-s: 14px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --border-radius: 0px;
  --brand: #518581;
  --brand-hover: #86aaa7;
  --brand-active: #487773;
  --text-secondary: #afadb5;
  --text-primary: #000000;
  --text-accent: var(--brand);
}
html,
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  background-color: $bg-body;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}
